.checkoutProduct {
    display: flex;
    align-items: top;
    margin: 20px;
}

.checkoutProduct__image {
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.checkoutProduct__info {
    padding-top: 20px;
}

.checkoutProduct__info > button {
    padding: 5px;
    width: 200px;
    background-color: #f0c14b;
    border-radius: 2px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 700;
}